# ======================
# Basic Config
# ======================
BOT_TOKEN=
APP_ID=
BOT_CHANNEL_ID=

# ======================
# Fiber Config
# ======================
PRODUCTION_PORT=

# ======================
# Database Config
# ======================
DB_NAME=
DB_OWNER=
DB_PASSWORD=
DB_PORT=

# ======================
# Discord Group Config
# ======================
SELF_GROUP_ID=

# ======================
# VNDB Config
# ======================
VNDB_ENDPOINT=

# ======================
# Erogamescape Config
# ======================
EROGS_ENDPOINT=
# Second
EROGS_RATE_LIMIT_RESET_TIME=

# ======================
# seiya-saiga Config
# ======================
SEIYA_ENDPOINT=

# ======================
# ymgal Config
# ======================
YMGAL_ENDPOINT=
YMGAL_CLIENT_ID=
YMGAL_CLIENT_SECRET=

# ======================
# bangumi Config
# ======================
BANGUMI_ENDPOINT=
BANGUMI_ACCESS_TOKEN=
BANGUMI_USER_AGENT=

# ======================
# default Resource Config
# ======================
SEARCH_GAME_SOURCE=
SEARCH_BRAND_SOURCE=

# ======================
# proxy basic Config
# ======================
PROXY_USE=

# ======================
# vpn proxy Config
# ======================
PROXY_ADDRESS=
PROXY_AUTH_USER=
PROXY_AUTH_PASSWORD=
PROXY_PORT=

# ======================
# private proxy Config
# ======================
PROXY_PRIVATE_IP=
PROXY_PRIVATE_PORT=